<!DOCTYPE html>
<div class="movie">
    <div class="row">
        {{#each movieInfo}}
        <div class="col-md-3" style="margin-top: 50px;">
            <div class="card">
                <div class="thumbnail">
                    <img src="{{this.Poster}}"
                        class="img-thumbnail" alt="{{this.Title}}">

                    <div class="card-body">
                        <h5 class="card-title">{{this.Title}}</h5>
                        <p class="card-text"><small class="text-muted">{{this.Country}}</small></p>
                        <ul class="list-group">
                            <li class="list-group-item">{{this.Year}}</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">{{this.Genre}}</li>
                        </ul>
                        <ul class="list-group">

                            <li class="list-group-item"><i class="bi bi-trophy"></i>{{this.imdbRating}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="row gx-1">
            {{#each recMovies}}
                {{#compareStrings this.Response "True"}}
                    <div class="col" style="margin-top: 10px;">
                                <div class="card h-100">
                                    <div class="col" style="margin-top: 10px;">   
                                        <img src="{{this.Poster}}"
                                            class="img-thumbnail" alt="{{this.Title}}">
                                        
                                        <div class="card-body h-100">
                                            <h5 class="card-title">{{this.Title}}</h5>
                                            <p class="card-text"><small class="text-muted">{{this.Country}}</small></p>
                                            <ul class="list-group">
                                                <li class="list-group-item">{{this.Year}}</li>
                                            </ul>
                                            <ul class="list-group">
                                                <li class="list-group-item">{{this.Genre}}</li>
                                            </ul>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="mr-5">
                                                        <i class="bi bi-trophy"></i>{{this.imdbRating}}</span>
                                                    
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                    </div>
                {{/compareStrings}}
            {{/each}}
        </div>
    </div>  
</div>